<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="main.css" />
        <title>Java Bank</title>
    </head>
    <body>
        <main class="p-2">
            <header class="box">
                <h1>Welcome to SquidBank</h1>
                <h3>Where the ocean does its banking</h3>
                <p></p>
            </header>
        </main>
    </body>
</html>
